<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Properties>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n</Property>
    </Properties>

    <!-- Use AsyncLoggerContextSelector for asynchronous logging -->
    <Loggers>
        <Logger name="com.github.mrgarbagegamer" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" />
        </Console>
    </Appenders>
</Configuration>